/*Countdownbar*/
 .countdown-banner__inner {
     background-color: #c51c26;
     color: #fff;
     position: relative;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     overflow: hidden;
     min-height: 60px;
     padding: 20px 3.3vw;
}
.countdown-banner__content{
      width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


 @media (min-width: 960px){
     .countdown-banner__bar {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
    }
     .countdown-banner__bar-item {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
    }
}
 .countdown-banner__bar-item {
     margin-top: 0;
     margin-bottom: 0;
     padding-top: 8px;
     padding-bottom: 8px;
     text-align: center;
}
/*item heading*/
 .countdown-banner__bar-item h4{
     font-size: 35px;
     text-transform: uppercase;
}
/*item timer*/
 .countdown-banner__bar-item--timer {
     margin-right: 3vw;
     margin-left: 3vw;
     padding-top: 8px;
     padding-bottom: 8px;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
}
 .countdown-timer__inner {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     margin-bottom: 8px;
}
 .countdown-timer__item {
         text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
 .countdown-timmer__amount{
     position: relative;
     margin-bottom: 8px;
     padding: 0 27px;
     font-size: 35px;
     white-space: nowrap;
}
 .countdown-timer__type{
     font-size: 13px;
     text-transform: uppercase;
}
/*item text*/
 .countdown-banner__bar-item--text {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
}
 .countdown-timer__item+.countdown-timer__item .countdown-timmer__amount:before {
     content: "";
     position: absolute;
     top: 25%;
     left: 0;
     bottom: 25%;
     display: block;
     width: 1px;
     background-color: #fff;
     opacity: .66;
}
 .countdown-banner__bar-text+.countdown-banner__button {
     margin-left: 3.3vw;
}
 .countdown-banner__inner a.btn--secondary {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     text-transform: uppercase;
     line-height: 1.45;
     letter-spacing: 0.05em;
     position: relative;
     color: #fff;
     border: 1px solid #fff;
     -webkit-transition: color .2s ease,border-color .2s ease;
     -o-transition: color .2s ease,border-color .2s ease;
     transition: color .2s ease,border-color .2s ease;
     overflow: hidden;
     z-index: 1;
     min-height: 40px;
     padding: 7.5px 17.5px;
     font-size: 13px;
}
.countdown-banner__inner .btn.btn--secondary:before {
    content: "";
    position: absolute;
    top: 0;
    left: -15%;
    width: 130%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);;
    z-index: -1;
    transform: translate3d(-100%,0,0) skew(30deg);
    transition: transform .5s cubic-bezier(.33,0,0,1);
 
}
.countdown-banner__inner .btn.btn--secondary:hover:not([disabled]):before{
    transform: unset;
}
 @media (max-width: 750px){
     .countdown-banner__inner {
         padding-left: 18px;
         padding-right: 18px;
         width: 100%;
    }
     .countdown-banner__bar-item{
         padding-top: 0;
    }
     .countdown-banner__bar-item--timer{
         margin-left: 0;
         margin-right: 0;
    }
     .countdown-banner__bar-item h4,
     .countdown-timmer__amount {
         font-size: 29px;
    }
    .countdown-timmer__amount {
      padding: 0 12px;
  }
}
